---
layout: default
name: managers
title: Managers
---

<!-- Breadcrumbs -->
{% include breadcrumbs.html breadcrumbs=site.data.breadcrumbs.team %}

<section class="page-team page-content">
  <div class="container">
    <!-- Upper Section -->
    {% include team/upper.html %}

    <!-- Menu -->
    {% include team/menu.html title=page.title %}
  </div>

  <!-- Profiles -->
  {% assign profiles = site.data.profiles | where: "team", "managers" %}
  {% include team/profiles.html title=page.title profiles=profiles %}
</section>
