---
layout: default
permalink: /case-studies
---

{% include breadcrumbs.html breadcrumbs=site.data.breadcrumbs.case-studies %}

<div class="page-case-studies page-content">
  <section class="upper-section">
    <div class="container">
      <h2>Case Studies</h2>
      <p>
        Products for clients, partners, and the open source community.
        This is what our journey is <br> about. We go to great lengths in making
        sure the companies that work with us are more <br> successful than when
        we first met them.
      </p>
    </div>
  </section>

  <section class="project-list">
    <div class="container">
      <!-- get case studies -->
      {% assign studies = site.case-studies | sort: 'order' %}

      <div class="row">
        {% for study in studies %}
          <div class="col col-md-4 col-proj">
            <a href="/case-studies/{{ study.slug }}" class="proj-img">
              <img 
                alt="Project Logo"
                src="{{ '/assets/images/placeholder/case-study.jpg' | absolute_url }}" 
              >

              <div class="img-overlay text-center">
                <div class="wrapper">
                  <img 
                    alt="Sterlingtech Logo"
                    class="sterling-tech-logo"
                    src="{{ '/assets/images/case-study/white-small-sllogo.png' | absolute_url }}" 
                  >
                  <div class="proj-header">view</div>
                  <div class="proj-title">{{ study.title }}</div>
                  <div class="proj-footer">case study</div>
                </div>
              </div>
            </a>
            <a href="/case-studies/{{ study.slug }}" class="proj-link">
              {{ study.title }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
