---
layout: default
permalink: /tools
---

{% include breadcrumbs.html breadcrumbs=site.data.breadcrumbs.tools %}

<section class="page-tools page-content">
  <div class="container">
    <section class="upper-section">
      <h2>Tools</h2>
      <p>
        Esse esse eu excepteur officia reprehenderit labore cillum sit aute <br>
        magna enim cillum excepteur aliquip in aliquip officia. Duis labore nisi dolor
      </p>
    </section>

    <section class="tool-list">
      <div class="row">
        {% for tool in site.data.tools %}
          <div class="col col-md-4">
            <a href="{{ tool.link | absolute_url }}">
              <img src="{{ tool.icon | absolute_url }}" alt="Tool Icon">
              <p class="tool-name">{{ tool.name }}</p>
              <p class="tool-short-desc">{{ tool.short_desc }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</section>
