---
layout: default
---
<div class="page-home">
  <section class="banner-section">
    <div class="container">
      <h2 class="header-red">The Technology</h2>

      <h2 class="header-gold">&lt;Accelerator&gt;</h2>
      <p>
        Sterling Tech is a get things done kind of <br />
        company. We develop apps. We develop <br />
        companies.
      </p>
      <br/>
      <p class="text-red">We develop game changers.</p>
    </div>
  </section>

  <section class="tech-acc-section">
    <div class="container">
      <div class="row">
        <div class="col col-sm-12 col-12">
          <h3>What is a technology accelerator?</h3>
        </div>

        <div class="col col-sm-12 col-12">
          <p>
            We use a business methodology that we developed over the years
            to transform products into prosperous companies. No matter what
            phase your company is in, we can get you to the finish line faster.
          </p>
        </div>

      </div>

      <ul class="process d-flex">
        {% for process in site.data.home.tech-acce %}
          <li>
            <div class="process-image">
              <img src="{{ process.img | absolute_url }}" alt="Process Image" />
            </div>
            <p>{{ process.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="what-we-do-section G01-wwd">
    <div class="container">


	  <!-- SVG Path Start -->
		<div id="wwd-G01" class="G01-svg d-none  d-xl-block">
        	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 8177"><defs><style>.cls-1{fill:none;stroke:#89272a;stroke-width:10px;}</style></defs><title>path6-edited2</title><path id="Path_6" data-name="Path 6" class="cls-1" d="M1008,7950V7779h715V6519H269V6305h973V4841H1008V3242l-405-1V2825H198V1489.24L963,1485l.5-1277"/></svg>
        </div>
      <!-- SVG Path End -->

      <div class="section-header">
        <div class="row">
	        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
	          <h3 class="text-center">What We Do</h3>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-xl-3 col-lg-3 col-md-3 d-none d-sm-block"></div>
	        <div class="col-xl-6 col-xl-offset-3 col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 section-text text-center">
	            Fueled by innovation, powered by technology. <b>Sterling Technologies</b> creates wonderful things using a mixture of rapid development, user-centric design and a strict adherence to quality and global best practices.
        	</div>
        	<div class="col-xl-3 col-lg-3 col-md-3 d-none d-sm-block"></div>
	    </div>
	  </div> 
	  <!-- End Section Header -->

	  <div class="wwd-section-content">
	  	<div class="row">
	            		          
					<div class="container">	  
						<div class="row">         	
			            	<div class="col-12 col-md-4 col-sm-4 d-xs-none G01-wwd-3img01 d-none d-sm-block" data-aos="fade-down" data-aos-delay="100" data-aos-easing="ease-in-out">
			            		<img src="{{ '/assets/images/what-we-do/screenshots/wwd-G01-01.png' | absolute_url }}" alt="What We Do">
			            	</div>
			            	<div class="col-12 col-md-4 col-sm-4 d-xs-none G01-wwd-3img01 text-center" data-aos="fade-down" data-aos-delay="200" data-aos-easing="ease-in-out">
			            		<img src="{{ '/assets/images/what-we-do/screenshots/wwd-G01-02.png' | absolute_url }}" alt="What We Do">
			            	</div>
			            	<div class="col-12 col-md-4 col-sm-4 d-xs-none G01-wwd-3img01 d-none d-sm-block" data-aos="fade-down" data-aos-delay="300" data-aos-easing="ease-in-out">
			            		<img src="{{ '/assets/images/what-we-do/screenshots/wwd-G01-03.png' | absolute_url }}" alt="What We Do">
			            	</div>
			            </div>
		            </div>

			            	<!-- Spacing div -->
			            	<div class="container d-md-none d-lg-block">
			            		<div class="row">
			            			<div class="col-12 G01-spacing01-half"></div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->
			            	<!-- Spacing div -->
			            	<div class="container">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

					<!-- Job Portal Section -->
            		<div class="container G01-wwd-section G01-jobportal G01-grayed">

            			<div class="row">

		            		<div class="col-12" data-aos="fade-down">
		            			<img src="{{ '/assets/images/home/wwd-2.png' | absolute_url }}" alt="Job Portals" class="G01-wwdicon">
		            			<h3>Job Portals</h3>
		            		</div>
		            	</div>

		            	<div class="row">
		            		<div class="col-md-8 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-delay="300">
		            			<img src="{{ '/assets/images/what-we-do/screenshots/jobayan01.png' | absolute_url }}" alt="Jobayan Screenshot">
		            		</div>
		            		<div class="col-md-4 col-sm-12 col-xs-12 G01-blurb" data-aos="fade-left" data-aos-delay="500">
		            			<img src="{{ '/assets/images/home/sec-3-jobayan.png' | absolute_url }}" alt="Jobayan Logo" style="max-width: 100%;margin-bottom: 2em;">

		            			<p>
		            				<b>Sterling Technologies</b> developed <b>Jobayan</b> as a web-based central recruitment process system with the aim of making the recruitment experience more convenient and social for job seekers and companies.
		            			</p>
		            			<a href="http://jobayan.com" class="btn btn-red" target="_blank">Visit Website</a>
		            		</div>
		            	</div>

	            	</div>
	            	<!-- End Job Portal Section -->

			            	<!-- Spacing div -->
			            	<div class="container">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01-half">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

					<!-- E-Comm Section -->
	            	<div class="container G01-wwd-section G01-ecomm">
	            		<div class="row" style="min-height:90px;" data-aos="fade-right">
	            			<div class="col-md-2 d-sm-none d-md-block G01-awks">
	            			</div>
		            		<div class="col-md-10 col-sm-12 col-xs-12">
		            			<img src="{{ '/assets/images/home/wwd-1.png' | absolute_url }}" alt="E-Commerce" class="G01-wwdicon" style="margin:1em 2em 1em 1em;">
		            			<h3>E-Commerce Platforms</h3>
		            		</div>
	            		</div>

						<div class="row" style="min-height:280px;margin-top:1em;">
	            			<div class="col-2 col-xl-2 d-sm-none d-md-block G01-awks"></div>
		            		<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 G01-blurb" data-aos="fade-right" data-aos-delay="300">
		            			<p>
		            				 <b>Sterling Technologies</b> provides Web and Mobile app platforms for e-commerce, enabling product catalog management, order management, online payment processing management and more.
		            			</p>
		            			<p>
		            				<b>Galleon</b> lets you easily buy items not available in the Philippines.
		            			</p>
		            			<p>
		            				<b>Dealcha!</b> is the 1st cashback website in Thailand, a one-stop shop for online shoppers providing the best deals, coupons and cashback offers. 
		            			</p>
		            			<p>
		            				<b>Tripzeeker</b> is your ultimate online bazaar for awesome travel experiences.
		            			</p>
		            		</div>
		            		<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" data-aos="fade-right" data-aos-delay="300" style="margin-top:1em;">
		            			<img src="{{ '/assets/images/what-we-do/screenshots/galleon01.png' | absolute_url }}" alt="Galleon Screenshot">
		            		</div>
	            		</div>

						<div class="row" style="min-height:280px;margin-top:2em;">
	            			<div class="col-2 col-xl-2 d-sm-none d-md-block G01-awks"></div>
		            		<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" data-aos="fade-down" data-aos-delay="400">
		            			<img src="{{ '/assets/images/what-we-do/screenshots/dealcha01.png' | absolute_url }}" alt="Dealcha Screenshot">
		            		</div>
		            		<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" data-aos="fade-right" data-aos-delay="500">
		            			<img src="{{ '/assets/images/what-we-do/screenshots/tripzeeker01.png' | absolute_url }}" alt="Tripzeeker Screenshot">
		            		</div>
	            		</div>  

	            		<div class="row" data-aos="fade-right" data-aos-delay="5	00" style="min-height:100px;margin-top:3em;">
	            			<div class="col-xl-4 d-none d-xl-block"></div>
	            			<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 text-center G01-ecomm-logos">
	            				<p>
	            					Visit our e-commerce websites:
	            				</p>
	            				<a href="http://dealcha.com" target="_blank"><img src="{{ '/assets/images/home/sec-3-dealcha.png' | absolute_url }}" alt="Dealcha"></a>
	            				<a href="http://galleon.ph" target="_blank"><img src="{{ '/assets/images/home/sec-3-galleon.png' | absolute_url }}" alt="Galleon"></a>
	            				<a href="http://tripzeeker.com" target="_blank"><img src="{{ '/assets/images/home/sec-3-tripzeeker.png' | absolute_url }}" alt="Tripzeeker"></a>
	            			</div>
	            			
	            		</div>	           
	            	

	            	</div>
				            	
				    <!-- End E-Comm Section -->

			            	<!-- Spacing div -->
			            	<div class="container d-md-block">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

				    <!-- Blockchain Section -->   
				    <div class="G01-grayed"> 	
		            	<div class="container G01-wwd-section G01-blockchain01">
		            		<div class="row" data-aos="fade-right" data-aos-delay="300">
			            		<div class="col-xl-6 col-lg-12 col-md-12">
			            			<img src="{{ '/assets/images/home/wwd-5.png' | absolute_url }}" alt="E-Commerce" class="G01-wwdicon" style="margin-top:1em;">
			            			<h3>Blockchain Technologies</h3>
			            		</div>
		            		</div>
							<div class="row" style="margin-top: 5em;" data-aos="fade-right" data-aos-delay="300">
			            		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 G01-blockchain02a">
		            				<img src="{{ '/assets/images/what-we-do/screenshots/monico01.png' | absolute_url }}" alt="Monico Screenshot">
			            		</div>
		            		
								<div class="col-xl-5 col-lg-5 col-md-12 G01-blurb col-sm-12 col-xs-12 G01-blockchain02b">
		            				<p>
		            					<img src="{{ '/assets/images/home/sec-3-monico-v2.png' | absolute_url }}" alt="Monico Logo" style="max-width: 100%;margin-bottom: 2em;">
		            				</p>

		            				<p>
		            					<b>Monico</b> is a decentralized mobile app that allows secure project-to-user and peer-to-peer cryptocurrency transactions. <b>Sterling Technologies</b> developed the platform from frontend to backend, including the blockchain code that allowed users to perform peer-to-peer transactions without the involvement of a control server.
		            				</p>
		            				<a href="http://moni.co" class="btn btn-red" target="_blank">Visit Website</a>
			            		</div>
							</div>
		            	</div>
		            </div>		       
	            	<!-- End Blockchain Section -->
	            	
			            	<!-- Spacing div -->
			            	<div class="container d-md-block">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

	            	<!-- Video Section -->
			        <div class="container G01-wwd-section G01-video01">
			        	<div class="row">
		            		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-delay="200">
	            				<img src="{{ '/assets/images/home/wwd-7-video.png' | absolute_url }}" alt="Video Streaming" class="G01-wwdicon">
		            			<h3>Video Streaming</h3>
				            </div>
			            </div>
			            <div class="row">
			            	<div class="container G01-wwd-section col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row" data-aos="fade-right" data-aos-delay="300">
				            		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				            			<div class="siema">

												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup01b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup01b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup06b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup06b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup05b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup05b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup02b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup02b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup03b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup03b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
												  <div>
												  	<a href="{{ '/assets/images/what-we-do/video-streaming/video-mockup04b.png' | absolute_url }}" data-toggle="lightbox" data-gallery="G01-video" data-type="image">
												  	  <img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup04b.png' | absolute_url }}" alt="Video Screenshot">
												  	</a>
												  </div>
										</div>
										<button class="prev">&lt;</button>
										<button class="next">&gt;</button>

				            		</div>
			            		</div>
							</div>
							<div class="container G01-wwd-section col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			            		<div class="row G01-blurb" data-aos="fade-left" data-aos-delay="500" style="margin:2em 0;">
			            			
		            				<p>
		            					<b>Sterling Technologies</b> is developing a video streaming platform for our production partners. Our aim is to simplify the process of video streaming while ensuring that all streamed content is secure and highly optimized.
		            				</p>
		            				
										
										<button type="button" class="btn btn-red" data-toggle="modal" data-target="#learnMore">
										  Learn More
										</button>

										
										<div class="modal fade" id="learnMore">
										  <div class="modal-dialog modal-lg" role="document">
										    <div class="modal-content">

										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLabel">Video Streaming</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      
										      <div class="modal-body">
										      	
										      	<p>
					            					<b>Sterling Technologies</b> is developing a video streaming platform for our production partners. Our aim is to simplify the process of video streaming while ensuring that all streamed content is secure and highly optimized.
					            				</p>

												<div class="screenshots">

												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup01b.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Creating the best platform for the best original shows online</p>
												  </div>
												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup06.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Fully responsive design on desktop</p>
												  </div>
												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup05.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Also available on mobile</p>
												  </div>
												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup02.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Create channels for all your shows</p>
												  </div>
												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup03.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Organize each episode into specific channels</p>
												  </div>
												  <div><img src="{{ '/assets/images/what-we-do/video-streaming/video-mockup04.png' | absolute_url }}" alt="Video Screenshot">
												  	<p>Customize episode descriptions easily</p>
												  </div>
												</div>


										      </div>
									

										      <div class="modal-footer">
										        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close">Close</button>
										      </div>

										    </div>
										  </div>
										</div>

			            		</div>
							</div>
						</div>
	            	</div>
	            	<!-- End Video Section -->

			            	<!-- Spacing div -->
			            	<div class="container d-xl-none">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01 G01-video01-spacing01"></div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->
			            	<!-- Spacing div -->
			            	<div class="container d-sm-none d-md-block">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

	            	<!-- Iristext Section -->
	            	<div class="G01-grayed">
		            	<div class="container G01-wwd-section G01-iris01">
	            		    <div class="row" style="min-height:90px;" data-aos="fade-right">
		            			<div class="col-2 col-md-2 d-sm-none d-md-block G01-awks">
		            			</div>
			            		<div class="col-12 col-xl-10">
			            			<img src="{{ '/assets/images/home/wwd-8-telco.png' | absolute_url }}" alt="Telco" class="G01-wwdicon">
			            			<h3 class="G01-iris01-h3">Telecommunications</h3>
			            			<h3 class="G01-iris01-h3-secret-sm">Telecomms</h3>
			            		</div>
		            		</div>
		            	</div>
				            	<!-- Spacing div -->
				            	<div class="container">
				            		<div class="row">
				            			<div class="col-12 G01-spacing01-half G01-spacing-iris01"></div>
				            		</div>
				            	</div>
				            	<!-- End Spacing div -->
		            	<div class="container G01-wwd-section G01-iris02">
				            <div class="row">
			            		<div class="col-xl-3 col-lg-4 col-md-6 G01-blurb col-sm-12 col-xs-12" data-aos="fade-left" data-aos-delay="200">
		            				<p>
		            					<img src="{{ '/assets/images/home/sec-3-iris.png' | absolute_url }}" alt="Iris Logo" style="max-width: 100%;">
		            				</p>

		            				<p>
		            					<b>Sterling Technologies</b> developed <b>IRISDESK</b> as a reliable and cost effective platform that allows the user to send SMS using a web dashboard. <b>IRISDESK</b> works using prepaid or postpaid plans across all networks worldwide without charging per SMS.
		            				</p>
		            				<a href="http://iristext.com" class="btn btn-red" target="_blank">Visit Website</a>
			            		</div>
			            		<div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 col-xs-12" data-aos="fade-left" data-aos-delay="400">
		            				<img src="{{ '/assets/images/what-we-do/screenshots/iristext01.png' | absolute_url }}" alt="Iristext Screenshot">
			            		</div>
		            		</div>
		            	</div>
		            </div>

	            	<!-- End Iristext Section-->

			            	<!-- Spacing div -->
			            	<div class="container d-md-block d-xl-none">
			            		<div class="row">
			            			<div class="col-12 col-md-12 col-sm-12 col-xs-12 G01-spacing01">
			            				<p class="G01-spacing-p"></p>
			            			</div>
			            		</div>
			            	</div>
			            	<!-- End Spacing div -->

	            	<!-- Paymuna Section -->
	            	<div class="container G01-wwd-section G01-paymuna01">

	            		<div class="row">
		            		<div class="col-xl-6 col-lg-6 col-md-6 d-none d-sm-none d-md-block" data-aos="fade-right" data-aos-delay="100">
		            			<img src="{{ '/assets/images/what-we-do/screenshots/paymuna01.png' | absolute_url }}" alt="Influx Screenshot">
		            		</div>
		            		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 G01-floatright">
		            			<div class="row" data-aos="fade-right" data-aos-delay="200">
			            			<div class="col-12 col-md-12">
			            				<img src="{{ '/assets/images/home/wwd-9-payment.png' | absolute_url }}" alt="Telco" class="G01-wwdicon">
				            			<h3>Payment Solutions</h3>
				            		</div>
			            		</div>
		            			<div class="row" data-aos="fade-right" data-aos-delay="300">
			            			<div class="col-12 col-md-12 G01-blurb col-sm-12 col-xs-12">
			            				<p>
			            					<img src="{{ '/assets/images/home/sec-3-paymuna.png' | absolute_url }}" alt="Paymuna Logo" style="max-width: 100%;">
			            				</p>
			            				<p>
			            					<b>Sterling Technologies</b> developed <b>Paymuna</b> as a one-stop custom checkout tool builder for e-commerce platforms.
			            				</p>
			            				<a href="http://paymuna.com" class="btn btn-red" target="_blank">Visit Website</a>
				            		</div>
			            		</div>
			            		<div class="row d-none d-block d-sm-block d-md-none" data-aos="fade-right" data-aos-delay="100">
			            			<img src="{{ '/assets/images/what-we-do/screenshots/paymuna01.png' | absolute_url }}" alt="Influx Screenshot">
			            		</div>
		            		</div>
	            		</div>
						
	            	</div>
	            	<!-- End Paymuna Section -->
		</div>	            	
      </div> <!-- End WWD-section-content -->

    </div>
  </section>

  <section class="case-studies-section" style='background-color: #951B25'>
    <div class="container-fluid">
      <div class="row">
		<div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-md-offset-3 section-text text-center">
        	<h3>We provide solutions, not services</h3>
            <h4 style="line-height:2em;">
            We have a strong discipline in product strategy and development and
            have been involved in a number of challenging projects and end-to-end
            solutions for many of our clients and the companies we have created
            throughout the years. Our software development case studies show our
            diversity in many industries and commitment to master todays technology.
            </h4>
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
    </div>
  </section>

  <section class="what-we-use-section">
    <div class="container">
      <div class="section-header">
        <h3>What We Use</h3>
        <p>
          We are a multi-disciplined, full stack technology company.
          Knowledgable in most open source <br> programming languages, test driven,
          continuous integration, lean and agile.
        </p>
      </div>

      <div class="row wwu-list">
        <div class="col">
          <p class="col-name">Servers</p>
          <ul>
            {% for server in site.data.home.what-we-use-servers %}
              <li class="{{ server.name }}">
                <a href="{{ server.link | absolute_url }}" target="_blank">
                  <img src="{{ server.img | absolute_url }}" alt="Server Image" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <p class="col-name">Languages</p>
          <ul>
            {% for lang in site.data.home.what-we-use-lang %}
              <li class="{{ lang.name }}">
                <a href="{{ lang.link | absolute_url }}" target="_blank">
                  <img src="{{ lang.img | absolute_url }}" alt="Language Image" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <p class="col-name">Databases</p>
          <ul>
            {% for db in site.data.home.what-we-use-db %}
              <li class="{{ db.name }}">
                <a href="{{ db.link | absolute_url }}" target="_blank">
                  <img src="{{ db.img | absolute_url }}" alt="DB Image"/>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <p class="col-name col-continuous">Continuous</p>
          <ul>
            {% for cont in site.data.home.what-we-use-cont %}
              <li class="{{ cont.name }}">
                <a href="{{ cont.link | absolute_url }}" target="_blank">
                  <img src="{{ cont.img | absolute_url }}" alt="Continuous Image" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <p class="col-name">Libraries</p>
          <ul>
            {% for lib in site.data.home.what-we-use-libs %}
              <li class="{{ lib.name }}">
                <a href="{{ lib.link | absolute_url }}" target="_blank">
                  <img src="{{ lib.img | absolute_url }}" alt="Library Image"/>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <a name="crypto-payments"></a>
  <section class="crypto-section" style="text-align:center">
    <div class="container">
      <div class="row">
        <div class="col col-sm-12 col-xs-12 col-12">
          <h3 class="center mt-4 mb-4">Now Accepting Crypto!</h3>
        </div>

        <div class="col col-sm-12 col-xs-12 col-12">

        </div>

        <ul class="d-flex" style="list-style:none;padding:0">
            <li>
              <div class="process-image">
                <img width="50%" src="/assets/images/crypto/accept-btc.png" alt="Accepting Bitcoin" />
              </div>
              <p>BTC</p>
            </li>
            <li>
              <div class="process-image">
                <img width="50%" src="/assets/images/crypto/accept-eth.png" alt="Accepting Ether" />
              </div>
              <p>ETH</p>
            </li>
            <li>
              <div class="process-image">
                <img width="50%" src="/assets/images/crypto/accept-ltc.png" alt="Accepting Litecoin" />
              </div>
              <p>LTC</p>
            </li>
            <li>
              <div class="process-image">
                <img width="50%" src="/assets/images/crypto/accept-xrp.png" alt="Accepting Ripple" />
              </div>
              <p>XRP</p>
            </li>
            <li>
              <div class="process-image">
                <img width="50%" src="/assets/images/crypto/accept-bch.png" alt="Accepting Bitcoin Cash" />
              </div>
              <p>BCH</p>
            </li>
        </ul>

      </div>
    </div>
  </section>

  <!-- <section class="github-section">
    <div class="section-header">
      <div class="container">
        <p>
          <img src="{{ '/assets/images/logos/github-logo.png' | absolute_url }}" alt="Github Logo">
          Sterling Tech on Github
        </p>
      </div>
    </div>
  </section> -->

  <!-- <section class="press-section">
    <div class="container">
      <h3>Straight from our press</h3> -->

      <!-- Get Posts -->
      <!-- {% assign posts = site.posts | sort: 'date' | reverse %}

      <div class="blog-listing">
        <div class="row">
          {% for post in posts limit: 2 %}
          <div class="col col-12 col-sm-12 col-md-6">
            <a href="{{ post.url }}" class="post-image">
              <img src="{{ post.image | absolute_url }}" alt="Post Image">
            </a>
            <div class="post-detail">
              <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
              <div class="post-short-detail">{{ post.short_detail }}</div>
              <div class="post-date">{{ post.date | date_to_long_string }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section> -->

  <section class="contact-us-section">
    <div class="container text-center">
      <h3>Work with us</h3>
      <p>
        Do you have a project in mind? We would love to hear all about your ideas.
      </p>

      <a href="/contact-us" class="btn btn-lg btn-red">
        Contact us for a meeting
      </a>
    </div>
  </section>
</div>
