<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for crumb in include.breadcrumbs %}
        {% if crumb.active == true %}
          <li class="breadcrumb-item active">
            <a href="{{ crumb.link }}">
              {{ crumb.name }}
            </a>
          </li>
        {% else %}
          <li class="breadcrumb-item">
            <a href="{{ crumb.link }}">
              {{ crumb.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
