<section class="upper-footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-2">
        <a href="/" class="footer-logo">
          <img src="{{ site.url }}/assets/images/logos/logo-square-w.png" alt="Sterlingtech Logo">
        </a>
      </div>
      <div class="col col-12 col-sm-12 col-md-2">
        <ul class="footer-nav">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="/what-we-do/technology">Tech</a></li>
          <li><a href="/tools">Tools</a></li>
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="/family-and-friends">Family and Friends</a></li>
          <li><a href="/our-culture">Our Culture</a></li>
        </ul>
      </div>
      <div class="col col-12 col-sm-12 col-md-2">
        <ul class="footer-nav">
          <!-- <li><a href="#">Careers</a></li> -->
          <li><a href="#">Press</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="#">Employee Sign Up</a></li>
        </ul>
      </div>
      <div class="col col-12 col-sm-12 col-md-3 offset-md-3 text-right">
        <ul class="social-nav">
          <li>
            <a href="https://www.facebook.com/sterlingtechph/">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/sterlingtechph">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/sterlingtech/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Sterling-Technologies">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <p class="address">
          2f, Mandala Park, Shaw Blvd, <br>
          Pleasant Hills, Mandaluyong City <br>
          Metro Manila, Philippines
          <a class="email-link" href="mailto:general@sterlingtech.ph">
            general@sterlingtech.ph
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="lower-footer">
  <div class="container">
    <p class="text-center">Copyright Sterling Tech &copy; 2018</p>
  </div>
</section>
