<section class="upper-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="/" class="footer-logo">
          <img src="./assets/images/logos/logo-square-w.png" alt="Sterlingtech Logo">
        </a>
      </div>
      <div class="col-md-2">
        <ul class="footer-nav">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Tech</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Family and Friends</a></li>
          <li><a href="#">Our Culture</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="footer-nav">
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Employee Sign Up</a></li>
        </ul>
      </div>
      <div class="col-md-3 offset-md-3 text-right">
        <ul class="social-nav">
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
        </ul>
        <p class="address">
          2f, Mandala Park, Shaw Blvd, <br>
          Pleasant Hills, Mandaluyong City <br>
          Metro Manila, Philippines
        </p>
      </div>
    </div>
  </div>
</section>
<section class="lower-footer">
  <div class="container">
    <p class="text-center">Copyright Sterling Tech &copy; 2018</p>
  </div>
</section>
