<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="./assets/images/logos/logo-horizontal-colored.png" alt="SterlingTech Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">
            about
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            &lt;what we do&gt;
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            case studies
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            the team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            careers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
