<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    {% assign wwd = page.url | slice: 1, page.url.size | split: '/' | first  %}
    <li class="nav-item {% if wwd == "what-we-do" %}active{% endif %}">
      <a class="nav-link" href="/what-we-do">
        {% if wwd == "what-we-do" %}
          &lt;what we do&gt;
        {% else %}
          what we do
        {% endif %}
      </a>
    </li>
    <li class="nav-item {% if page.url == "/case-studies" %}active{% endif %}">
      <a class="nav-link" href="/case-studies">
        {% if page.url == "/case-studies" %}
          &lt;case studies&gt;
        {% else %}
          case studies
        {% endif %}
      </a>
    </li>
    <li class="nav-item {% if page.url == "/teams/index" %}active{% endif %}">
      <a class="nav-link" href="/teams">
        {% if page.url == "/teams/index" %}
          &lt;the team&gt;
        {% else %}
          the team
        {% endif %}
      </a>
    </li>
    <li class="nav-item {% if page.url == "/careers" %}active{% endif %}">
      <a class="nav-link" href="/careers">
        {% if page.url == "/careers" %}
          &lt;careers&gt;
        {% else %}
          careers
        {% endif %}
      </a>
    </li>
    <li class="nav-item {% if page.url == "/our-culture" %}active{% endif %}">
      <a class="nav-link" href="/our-culture">
        {% if page.url == "/our-culture" %}
          &lt;our culture&gt;
        {% else %}
          our culture
        {% endif %}
      </a>
    </li>
    <li class="nav-item {% if page.url == "/contact-us" %}active{% endif %}">
      <a class="nav-link" href="/contact-us">
        {% if page.url == "/contact-us" %}
          &lt;contact&gt;
        {% else %}
          contact
        {% endif %}
      </a>
    </li>
  </ul>
</div>
