.page-wwd-layout {
  .customer-support-content {
    .row {
      margin-bottom: 3rem;

      .col-image {
        background-color: #E0E0E0;
        display: flex;
        display: -webkit-flex;
        min-height: 400px;

        img {
          object-fit: contain;
          margin: auto auto;
        }
      }

      .col-detail {
        text-align: center;
        padding: 3.5rem 7rem;

        h3 {
          color: $text-red;
          margin-bottom: 15px;
        }

        .text-q {
          font-style: italic;
          margin-bottom: 20px;
        }

        .desc {
          text-align: left;
          margin-bottom: 2rem;
        }

        ul li {
          text-align: left;
          margin-bottom: 2px;
        }
      }
    }
  }
}
