/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'bignoodletitling';
	src: url('../fonts/bignoodletitling.eot');
	src: local('bignoodletitling'), url('../fonts/bignoodletitling.woff') format('woff'), url('../fonts/bignoodletitling.ttf') format('truetype');
}
