/* Global - Classes
------------------------------*/
html,
body {
  color: $text-default;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0;
  margin: 0;
  min-height: 100%;
}

/* Bootstrap
------------------------------*/
.btn {
  border-radius: 0;
}

.btn-primary {
  border-color: #FF7F3F;
  background-color: #FF7F3F;
  color: #FFFFFF !important;
}

.btn-secondary {
  border-color: #31517A;
  background-color: #31517A;
  color: #FFFFFF !important;
}

.btn-outline {
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
}

.text-danger {
  color: #F73A48;
}

.text-warning {
  color: #FFC300;
}

.text-info {
  color: #00C1ED;
}

.text-success {
  color: #00D37E;
}

.text-currency {
  color: #FFC300;
}

.text-discount {
  color: #FF3643;
}

.text-token {
  color: #00D37E;
}
