/* Global - Classes
------------------------------*/
html,
body {
  color: $text-default;
  font-family: $text-cabin;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0;
  margin: 0;
  min-height: 100%;
}

.page-content {
  .upper-section {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      color: $text-red;
      font-family: $text-bignoodle;
      font-size: 2.4rem;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}

/* Bootstrap
------------------------------*/
.btn {
  border-radius: 0;
}

.btn-red {
  background-color: #a94045;
  color: #FFFFFF !important;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-transparent-red {
  border: 1px solid $text-red;
  color: $text-red;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-primary {
  border-color: #FF7F3F;
  background-color: #FF7F3F;
  color: #FFFFFF !important;
}

.btn-secondary {
  border-color: #31517A;
  background-color: #31517A;
  color: #FFFFFF !important;
}

.btn-outline {
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
}

.text-danger {
  color: #F73A48;
}

.text-warning {
  color: #FFC300;
}

.text-info {
  color: #00C1ED;
}

.text-success {
  color: #00D37E;
}

.text-currency {
  color: #FFC300;
}

.text-discount {
  color: #FF3643;
}

.text-token {
  color: #00D37E;
}
