/* Typography Colors
-----------------------------*/
$text-default: #333333;
$text-gold: #c0a16c;
$text-red: #89272a;

/* Fonts
-----------------------------*/
$text-bignoodle: 'bignoodletitling';
$text-cabin: 'Cabin', sans-serif;
