/* Typography Colors
-----------------------------*/
$text-default: #333333;
$text-gray: #6E6E6E;
$text-red: #89272a;
$text-gold: #c0a16c;
$text-light-gold: #F2D5A4;

/* Fonts
-----------------------------*/
$text-bignoodle: 'bignoodletitling';
$text-cabin: 'Cabin', sans-serif;
