.page-team {
  padding-top: 2rem;

  .upper-section {
    margin-bottom: 3rem;
  }

  .team-executives {
    margin-bottom: 4rem;

    .exec-wrapper {
      border: 1px solid #B4B4B4;
      position: relative;

      img {
        width: 100%;
        height: 500px;
      }

      .profile-info {
        color: #fff;
        padding: 1rem 2rem;
        position: absolute;
        bottom: 15px;
        left: 0;

        .profile-name {
          color: $text-red;
          font-size: 25px;
          line-height: 1;
          margin-bottom: 0;
        }

        .profile-position {
          color: #333333;
          font-size: 20px;
        }

        .profile-company {
          font-style: italic;
          margin-bottom: 15px;
        }
      }
    }
  }

  .team-top-management {
    margin-bottom: 2rem;
  }

  .team-leads {
    margin-bottom: 3rem;
    padding: 0 4rem;
  }

  .team-profiles {
    padding: 2rem 0;
    margin-bottom: 3rem;

    .section-header {
      margin-bottom: 4rem;

      h3 {
        color: $text-red;
        font-family: $text-bignoodle;
        font-size: 2.5rem;
      }
    }
  }

  .col-leads {
    position: relative;

    .leads-wrapper {
      position: relative;
      margin-bottom: 1.5rem;

      img {
        //width: 100%;
        //height: 100%;
      }

      .leads-info {
        background-color: #484848;
        color: #fff;
        padding: 1rem;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 85%;

        .leads-name {
          font-size: 22px;
          font-weight: 400;
        }
      }

      &.active {
        display: none;
        position: absolute;
        top: 0;

        .leads-info {
          background-color: transparent;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 95%;

          .leads-detail {
            background-color: #000;
            opacity: 0.8;
            padding: 15px 10px;
            text-align: center;
          }

          .btn {
            margin-top: 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .col-leads:hover .leads-wrapper.active {
    display: block;
  }

  .col-profile {
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;

    .profile-wrapper {
      position: relative;
      margin-bottom: 2rem;

      img {
        width: 198px;
        height: 261px;
        position: relative;
      }

      .profile-info {
        background-color: #484848;
        color: #fff;
        padding: 1rem;
        width: 198px;

        .profile-name {
          font-size: 18px;
          font-weight: 400;
        }

        .profile-pos {
          font-size: 13px;
        }
      }

      &.active {
        display: none;
        position: absolute;
        top: 0;

        .profile-info {
          background-color: transparent;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;

          .profile-detail {
            background-color: #000;
            opacity: 0.8;
            padding: 15px 10px;
            text-align: center;
          }

          .btn {
            margin-top: 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .col-profile:hover .profile-wrapper.active {
    display: block;
  }


  .team-join {
    color: #fff;
    background: url('../images/team-bottom-banner.png') no-repeat;
    background-size: cover;
    padding: 8rem 0;
    text-align: center;

    h3 {
      font-family: $text-bignoodle;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 4rem;
    }

    .btn {
      text-transform: uppercase;
      padding: 1.3rem 3rem;
    }
  }
}
 