.page-team {
  padding-top: 2rem;

  .upper-section {
    margin-bottom: 3rem;
  }

  .team-menu {
    text-align: center;
    margin-bottom: 2.5rem;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;

        a {
          color: $text-gold;
          display: block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          text-transform: uppercase;
        }

        &.active a {
          color: $text-red;
          font-weight: 600;
        }
      }
    }
  }

  .team-profiles {
    padding: 3rem 0;
    position: relative;

    .hanging-bg {
      background: url('../images/placeholder/team-banner-bg.png') no-repeat;
      background-size: cover;
      height: 380px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    h3 {
      color: #fff;
      font-family: $text-bignoodle;
      font-size: 2.3rem;
      margin-bottom: 4rem;
      text-align: center;
    }

    .row {
      .col {
        .profile-wrapper {
          border: 1px solid #707070;
          position: relative;

          img {
            width: 100%;
            height: 394px;
          }

          .profile-info {
            background-color: #484848;
            color: #fff;
            padding: 1rem;
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 85%;

            .profile-name {
              font-size: 25px;
            }
          }

          &.active {
            .profile-info {
              background-color: transparent;
              margin: 0 auto;
              left: 0;
              right: 0;
              width: 95%;

              .profile-detail {
                background-color: #000;
                opacity: 0.8;
                padding: 15px 10px;
                text-align: center;
              }

              .btn {
                margin-top: 10px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }

  .team-join {
    color: #fff;
    background-color: rgba(205, 180, 139, 0.7);
    padding: 8rem 0;
    text-align: center;

    h3 {
      font-family: $text-bignoodle;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 4rem;
    }

    .btn {
      text-transform: uppercase;
      padding: 1.3rem 3rem;
    }
  }
}
