---
layout: default
---

<!-- Breadcrumbs -->
{% include breadcrumbs.html breadcrumbs=site.data.breadcrumbs.team %}

<section class="page-team page-content">
  <div class="container">
    <section class="upper-section">
      <h2>Meet the &lt;Game Changers!&gt;</h2>
      <p>
        Esse esse eu excepteur officia reprehenderit labore cillum sit aute <br>
        magna enim cillum excepteur aliquip in aliquip officia. Duis labore nisi dolor
      </p>
    </section>


    <!-- Menu -->
    <section class="team-menu">
      <ul>
        <li class="{% if page.title == "All" %}active{% endif %}">
          <a href="/teams">
            {% if page.title == "All" %}
              &lt;/all&gt;
            {% else %}
              all
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Managers" %}active{% endif %}">
          <a href="/teams/managers">
            {% if page.title == "Managers" %}
              &lt;/managers&gt;
            {% else %}
              managers
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Admin" %}active{% endif %}">
          <a href="/teams/admin">
            {% if page.title == "Admin" %}
              &lt;/admin&gt;
            {% else %}
              admin
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Project Manager" %}active{% endif %}">
          <a href="/teams/project-manager">
            {% if page.title == "Project Manager" %}
              &lt;/project manager&gt;
            {% else %}
              project manager
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Developers" %}active{% endif %}">
          <a href="/teams/developers">
            {% if page.title == "Developers" %}
              &lt;/developers&gt;
            {% else %}
              developers
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Marketing" %}active{% endif %}">
          <a href="/teams/marketing">
            {% if page.title == "Marketing" %}
              &lt;/marketing&gt;
            {% else %}
              marketing
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Sales" %}active{% endif %}">
          <a href="/teams/sales">
            {% if page.title == "Sales" %}
              &lt;/sales&gt;
            {% else %}
              sales
            {% endif %}
          </a>
        </li>
        <li class="{% if page.title == "Designers" %}active{% endif %}">
          <a href="/teams/designers">
            {% if page.title == "Designers" %}
              &lt;/designers&gt;
            {% else %}
              designers
            {% endif %}
          </a>
        </li>
      </ul>
    </section>
  </div>

  <!-- Define Profiles -->
  {% if page.name == "all" %}
    {% assign profiles = site.profiles %}
  {% else %}
    {% assign profiles = site.profiles | where: "team_slug", page.name %}
  {% endif %}

  <!-- List Profiles -->
  <section class="team-profiles">
    <div class="hanging-bg"></div>
    <div class="container">
      <h3>&lt;{{ page.title }}&gt;</h3>

      <div class="row">
        {% for profile in profiles %}
          <div class="col col-md-3">
            <div class="profile-wrapper {% if profile.highlighted == true %}d-none{% endif %}">
              <img src="{{ site.url }}{{ profile.img_bnw }}" alt="Profile Image">
              <div class="profile-info">
                <div class="profile-name">{{ profile.name }}</div>
                <div class="profile-pos">{{ profile.position }}</div>
              </div>
            </div>

            <div class="profile-wrapper active {% if profile.highlighted == false %}d-none{% endif %}">
              <img src="{{ site.url }}{{ profile.img_colored }}" alt="Profile Image">
              <div class="profile-info">
                <div class="profile-detail">
                  {{ profile.detail }}
                </div>

                <a href="/profiles/{{ profile.slug }}" class="btn btn-red btn-block btn-lg">
                  Meet {{ profile.first_name }}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="team-join">
    <div class="container">
      <h3>Join our &lt;Team&gt;</h3>
      <p>
        Do you have what it takes to be an awesome individual who wants
        to change the world? <br> Stop slacking, get on your feet and join
        our team!
      </p>

      <a href="#" class="btn btn-red btn-lg">
        Join our team
      </a>
    </div>
  </section>
</section>
